.customers {
  padding-top: 94px;
  padding-bottom: 94px;
  border-color: #757575;

  & ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  & a {
    display: block;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    padding: 17.71px 32px 14.25px;

    &:hover,
    &:focus {
      border-color: #2196f3;
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  & li:not(:last-child) {
    margin-right: 30px;
  }

  &__icon {
    fill: #afb1b8;
    border-color: #757575;
  }
}

@media screen and (max-width: 1199px) {
  & li:not(:last-child) {
    margin-right: 0px;
  }
}

@media screen and (max-width: 767px) {
  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  & ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }
}
