footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;

  & > div {
    display: flex;
    justify-content: flex-start;
    grid-gap: 70px;
  }

  @media screen and (max-width: 480px) {
    & > div {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-flow: column;
      grid-gap: 70px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & > div {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-flow: column;
      grid-gap: 70px;
    }
  }
}

.footer-flex {
  margin-top: 12px;

  &__social {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }

  & > span {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
  }
}
