.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding-top: 60px;
  flex-direction: column;
  text-align: center;
  width: 100%;

  &__box {
    color: #ffffff;
    text-align: center;
  }

  &__box-address {
    flex-direction: column;
  }

  &__link {
    list-style: none;
    margin-bottom: 60px;
  }
    

    &-contact {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      margin: 8px 0px 8px 0px;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: #2196f3;
      }
    }
  }

  &__socials {
    &-header {
      justify-content: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      color: #ffffff;
      margin-bottom: 20px;
    }

    &-links {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-bottom: 60px;
    }

    &-icon {
      color: #ffffff;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      width: 44px;
      height: 44px;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill, background-color;
      display: flex;

      &:hover,
      &:focus {
        background-color: #2196f3;
      }
    }
  }
}

.logo-footer {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  text-decoration: none;

  &_color {
    color: #2196f3;
  }
}

.address-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin: 0% auto;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .footer {
    &__box {
      margin-left: auto;
      display: flex;
      align-items: baseline;
    }

    &__link {
      margin: 9px 0px 9px 0px;
      padding: 0px;
    }

    &-contact {
      margin: 9px 0px 9px 0px;
    }

    &__socials {
      margin-left: 70px;
    }
  }

  .display-tablet {
    display: flex;
    flex-direction: column;
  }
}

.address-text {
  width: 246px;
}

.newsletter-button {
  display: flex;
}
.input-email {
  width: 100%;
  max-width: 450px;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 60px 0px;

    &__box {
      margin-left: 0px;
      display: flex;
      align-items: baseline;
      margin-right: 0px;
      padding-left: 0px;
    }
    &__box-address {
      text-align: left;
    }
    &__socials-header {
      text-align: left;
    }
  }

  .display-tablet {
    flex-direction: row;
  }

  .newsletter {
    margin-left: auto;
    text-align: left;

    &__list {
      display: flex;
      flex-direction: row;
    }
  }
  .input-email {
    width: 358px;
  }
}
