.header {
  border-bottom: 1px solid #ececec;
  display: flex;

  &__border {
    flex-direction: row;
    display: flex;
    align-items: center;
    padding: 25px 15px;
  }
}

.contact {
  display: flex;
  gap: 50px;
  margin: 0 auto;
  padding: 0 0 0 320px;
  list-style: none;
  text-decoration: none;

  &__link-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    list-style: none;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }

  &__link--header-icon {
    background-color: #fff;
    margin-right: 10px;
    margin-top: 3px;
    width: 16px;
    height: 16px;
    fill: #757575;
    list-style: none;
    text-decoration: none;
  }

  &__link--icons {
    background-color: #fff;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    fill: #757575;
    list-style: none;
    text-decoration: none;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style: none;
  gap: 50px;
  padding-left: 93px;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header {
    &__border {
      flex-direction: row;
      display: flex;
      align-items: center;
      padding: 15px 15px;
      margin: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    &__border {
      flex-direction: row;
      display: flex;
      align-items: center;
      padding: 8px 15px;
      margin: 0;
    }
  }
}
