.icons-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;
  text-decoration: none;
}
.icon-box__vector {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  padding-top: 30px;
  margin-bottom: 90px;
  margin-top: 60px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .icon-box__vector {
    display: flex;
    margin-top: 60px;
    flex-flow: column;
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icon-box__vector {
    display: flex;
    margin-top: 60px;
    gap: 30px;
    flex-flow: column;
    width: 345px;
  }
}
