.lorem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-decoration: none;

  &__heading {
    font-weight: 700;
    line-height: 1.143;
    margin: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
  }

  &__text {
    font-size: 14px;
    line-height: 1.72;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .icon-box__vector {
    display: flex;
    flex-flow: column;
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .icons_box {
    display: flex;
    flex-direction: column;
    width: 768px;
  }
}
