.lorem {
  flex-flow: column;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  margin: 0 auto;
  padding-left: 0px;
  list-style: none;
  text-decoration: none;

  &__heading {
    font-weight: 700;
    line-height: 1.143;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    list-style: none;
    text-decoration: none;
    padding-left: 0px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.72;
    padding-left: 0px;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

  @media screen and (max-width: 767px) {
    .lorem {
      flex-flow: column;
      padding-top: 10px;
      width: 450px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem {
    flex-direction: column;
    gap: 30px;
    padding-top: 10px;
    margin-top: 45px;
  }
}

@media screen and (max-width: 767px) {
  .lorem__heading {
    flex-flow: column;
    width: 450px;
    padding-left: 200px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__heading {
    flex-direction: column;
    gap: 30px;
    padding-left: 110px;
  }
}

@media screen and (max-width: 767px) {
  .lorem__text {
    flex-flow: column;
    width: 450px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem__text {
    flex-direction: column;
    gap: 30px;
  }
}
