.newsletter {
  margin-left: 70px;

  &__description {
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }

  &__footer-list {
    display: flex;
    gap: 12px;
    list-style: none;
    flex-flow: column;
  }
}
@media screen and (max-width: 767px) {
  .newsletter__footer-list {
    justify-content: center;
    text-align: center;
    flex-flow: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter__footer-list {
    justify-content: center;
    text-align: center;
    flex-flow: column;
  }
}
