.team ul {
  font-display: flex;
  justify-content: space-between;
  list-style: none;
  object-fit: contain;
}

& figure {
  background: #fff;
  box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024,
    0px 2px 1px #00000033;
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
}

& figcaption {
  padding: 30px 32px;
}

& p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 767px) {
  .team ul {
    display: 480px;
    left: 0px;
    background: #f5f4fa;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .team ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }
}
