.close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;

  &:hover,
  &:focus {
    transform: scale(1.25);
    background-color: #f5f4fa;
  }
}
