.footer__address {
  display: block;
  font-style: normal;

  & > span {
    display: block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    color: #fff;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-bottom: 9px;
  }
}

.footer__address-mail {
  display: block;
  text-decoration: none;
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  margin-bottom: 9px;

  &:hover,
  &:focus {
    color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__address-tel {
  display: block;
  text-decoration: none;
  color: #ffffff99;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &:hover,
  &:focus {
    color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__text--blue:hover,
.footer__text--blue:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
