.navigation__button {
  display: flex;
  text-decoration: none;
  list-style: none;
  color: #000000;

  &:hover,
  &:focus {
    color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  @media (max-width: 767px) {
    & {
      display: none;
    }
  }
}

.navigation__current-button {
  display: flex;
  text-decoration: none;
  list-style: none;
  color: #2196f3;

  @media (max-width: 767px) {
    & {
      display: none;
    }
  }
}

.navigation__current-link {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: #2196f3;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 4px;
    background-color: #2196f3;
    margin-top: 47px;
    display: block;
  }

  @media (max-width: 767px) {
    & {
      display: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation__current-link {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      border-bottom: #2196f3;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      height: 4px;
      background-color: #2196f3;
      margin-top: 37px;
      display: block;
    }
  }
}
