/* @media screen and (max-width: 767px) {
  .newsletter__footer-list {
    flex-flow: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter__footer-list {
    flex-flow: column;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .newsletter__button-active {
    margin-left: 80px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter__button-active {
    margin-left: 225px;
  }
}
*/