.team__social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
  grid-gap: 10px;
}

.team__social-links a {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  &:hover,
  &:focus {
    fill: #fff;
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__social-links {
  display: flex;
  grid-gap: 10px;
  list-style: none;
}

.footer__social-links li {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;

  &li:hover,
  &li:focus {
    background-color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer__social-links svg {
  fill: #fff;
}

.footer__social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
  }
}

.footer-flex__social {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.text--blue:hover,
.text--blue:hover:focus {
  color: #2196f3;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-flex {
  margin-top: 12px;
}

.footer__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #fff;
  margin-bottom: 20px;
}
