.header {
  flex-direction: row;
  display: flex;
  align-items: center;
  padding: 25px 15px;
}
.section__title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.365;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .section__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    flex-flow: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    flex-flow: column;
  }
}

.activity h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 60px;
  color: #212121;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.team h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.customers h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
