body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
  width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 480px;
  }

  body::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    overflow-x: scroll;
    overflow-y: scroll;
    width: 768px;
  }
}

* {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #2196f3;
}

.block {
  display: block;
}

.project-border {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.text {
  color: #212121;
  &--blue {
    color: #2196f3;
  }
  &--black {
    color: #000000;
  }
  &:hover,
  &:focus {
    color: #2196f3;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.no-margin-bottom {
  margin-bottom: 0%;
}

.header-list {
  list-style: none;
  text-decoration: none;
}
