.section-portfolio {
  padding-top: 94px;
  padding-right: 94px;
  padding-bottom: 40px;
  padding-left: 94px;
  margin: 0;

  &__header-list {
    color: #212121;
    list-style: none;
    text-decoration: none;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding-bottom: 60px;

  &__elements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    gap: 30px;
  }

  &__element {
    position: relative;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }

  &__header-list {
    list-style: none;
    text-decoration: none;
  }

  .portfolio__projects {
    width: 370px;
    background-color: #fff;
    margin: 0;
    transition: 250ms box-shadow cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    margin: 0;

    &:hover,
    &:focus {
      cursor: pointer;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__projects-describe {
      border: #eeeeee;
      flex-basis: calc((100% - 60px) / 3);
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  &__project-name {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
    justify-content: left;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

  &__project-text {
    color: #757575;
    font-size: 16px;
    line-height: 1.875;
    justify-content: left;
    text-align: left;
    list-style: none;
    text-decoration: none;
  }

  &__hidden-elements {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hidden-background {
    position: absolute;
    background: rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    max-height: 294px;
    font-size: 18px;
    transform: translateY(300px);
    transition: transform 250ms linear;
  }

  &__hidden-text {
    justify-content: left;
    text-align: left;
    align-items: center;
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    line-height: 1.56;
    color: #fff;
  }

  &__project-border {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
  }

  &__description {
    padding: 20px 24px;
  }

  &__description > p {
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .portfolio ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    column-gap: 30px;
  }
}
